body {
  margin: 0 0;
}


#first-separator {
  display: flex;
  flex-direction: row;
}

#first-separator .upswing {
  width: 100%;
  margin: 10px 0;
  height: 3px;
  background: rgb(238, 241, 255);
  transform: skew(0deg, 15deg);
}
/* #landing-info-container {
  height: 302px;
  width: 100%;
  background: #dfd8d8;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
} */
#landing-header {
  background-position: right top 32%;
  height: 600px;
  width: 400px;
  background-repeat: no-repeat;
}

#landing-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#title_name {
  justify-content: center;
  float: right;
  margin: 10% 50px 20px 35%;
}

#name-div h2 {
  font-family: 'Dela Gothic One', cursive;
  text-decoration: underline;
}

h2 {
  font-family: 'Dela Gothic One', cursive;
}

p {
  font-family: 'Cormorant Garamond', serif;
}

#title-div {
  font-family: 'Cormorant Garamond', serif;
  font-weight:400;
}

#menu-button {
  float: left;
  margin: 10% 35% 20px 50px;
  height: 50px;
}
/* #landing-header::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, .25);
} */



/* #project-header-container {
  height: 403px;
  width: 100%;
  
  background: black;
  clip-path: polygon(0 34%, 100% 0, 100% 100%, 0 84%);
  

} */

#project-header {
  height: 400px;
  width: 100%;
  justify-content: center;
  clip-path: polygon(0 34%, 100% 0, 100% 100%, 0 84%);
  background-position: right top 35%;
}

#project-div {
  width: 100%;
  height: 100%;
  margin: 0 45% 0 15%;

}

#project-div h2 {
  margin-bottom: 100px;
}

#project-row {
  display: flex;
  flex-direction: row;
  margin-left: 200px;

}

#snag-style {
  margin: 0 50px 0 0;
}

#blue-style {
  margin: 0 50px 0 50px;
}

#catwalk-style {
  margin: 0 0 0 50px;
}

#about-header {
  height: 400px;
  width: 100%;
  background-position: right top 45%;
  clip-path: polygon(0 0, 100% 31%, 100% 58%, 0 78%);
}

#contact-header {
  height: 400px;
  width: 100%;
  background-position: right top 55%;
  clip-path: polygon(0 0, 100% 51%, 100% 100%, 0 100%);
}

#bottom-image {
  height: 400px;
  width: 100%;
  background-position: right top 65%;
  clip-path: polygon(0 38%, 100% 0, 100% 100%, 0 100%);
}

#about {
  width: 100%;
  margin: 20px 30% 20px 30%;
}
#about-div {
  margin: 20px 30% 20px 30%;
  width: 100%;
  text-align: center;
}

#contact-components {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 100px;
  width: 600px;
}

#contact-info-div {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 20px;
}

#contact-div h2 {
  margin: 50px 0 100px 100px;
}
