body {
  margin: 0 0;
  width: 100%
}

#app {
  max-width: 100%;
}
/* #landing-info-container {
  height: 302px;
  width: 100%;
  background: #dfd8d8;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
} */
#landing-header {
  background-position: right top 32%;
  /* height: 300px;
  width: 400px; */
  background-repeat: no-repeat;
}

#landing-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#snippet {
  width: 300px;
  margin: 10% 50px 20px 10%;
  font-style:italic;
}

#snippet h2 {
  font-family: 'Roboto', sans-serif;
}

#resumeImage {
  height: 750px;
  width: 550px;
}


#title_name {
  justify-content: center;
  float: right;
  margin: 10% 50px 20px 35%;
}


#name-div h2 {
  font-family: 'Didact Gothic', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  text-decoration: underline;
}

#name-div:hover {
  cursor:pointer;
  font-size: 20px;
}

h2, h3 {
 font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

#title-div {
  font-family: 'Cormorant Garamond', serif;
  font-weight:400;
}


#menu-button {
  float: left;
  margin: 50px 0 50px 50px;
  font-size: 40px;
}
/* #landing-header::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, .25);
} */



/* #project-header-container {
  height: 403px;
  width: 100%;
  
  background: black;
  clip-path: polygon(0 34%, 100% 0, 100% 100%, 0 84%);
  

} */

#project-header {
  height: 400px;
  width: 100%;
  justify-content: center;
  clip-path: polygon(0 34%, 100% 0, 100% 100%, 0 84%);
  background-position: right top 35%;
}

#project-div {
  width: 100%;
  height: 100%;
  margin: 0 0 0 5%;

}

#project-div h2 {
  margin-bottom: 75px;
}

#project-row {
  display: flex;
  flex-direction: row;
  z-index: auto;
  

}

#snag-style {
  margin: 0 1.5% 0 0;
  width: 30%;
} 

#snag-style:hover {
  cursor:pointer;
  font-size: 20px;
}

#snag-paragraph span {
  font-weight: bold;
  font-family: Times Roman Numeral, sans-serif;
}

#blue-style {
  margin: 0 1.5% 0 1.5%;
  width: 30%;
}

#blue-style:hover {
  cursor: pointer;
  font-size: 20px;
}

#blue-ocean-paragraph span {
  font-weight:bold;
  font-family: Times Roman Numeral, sans-serif;
  
}

#catwalk-style {
  margin: 0 0 0 1.5%;
  width: 30%;
  
}

#catwalk-style:hover {
  cursor: pointer;
  font-size: 20px;
}

#system-design span, #frontend-design span {
  font-weight:bold;
  font-family: Times Roman Numeral, sans-serif;
}

#about-header {
  height: 250px;
  width: 100%;
  background-position: right top 45%;
  clip-path: polygon(0 0, 100% 30%, 100% 70%, 0 100%);
}

#about {
  width: 100%;
  height: 500px;
  padding-right: 50px;
  /* margin: 0  0 15%; */
}

#about-div {
  width: 100%;
  height: 100%;
  /* margin: 0 0 0 75%; */
  
}

#about-div > h2 {
  
  margin-left: 75%;
}

#about-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#personal-paragraph {
  width: 25%;
  height: 100%;
  margin: 0 2% 0 0;
}

#about-paragraph {
  width: 35%;
  height: 100%;
  margin: 0 2% 0 2%;
}

#about-paragraph:hover {
  font-size: 18px;
  font-weight: bold;
}

#personal-paragraph:hover {
  font-size: 18px;
  font-weight: bold;
}

#tech-list {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  text-align: center;
  max-width: 35%;
}

#tech-list h3 {
  width: 180px;
}


#tech-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 500px;

}

.techIcon img {
  height: 30px;
  width: 30px;
}

.techIcon img:hover {
  height: 50px;
  width: 50px;
}

#contact-header {
  height: 300px;
  width: 100%;
  background-position: right top 55%;
  clip-path: polygon(0 0, 100% 51%, 100% 100%, 0 100%);
}

#bottom-image {
  height: 400px;
  width: 100%;
  background-position: right top 65%;
  clip-path: polygon(0 38%, 100% 0, 100% 100%, 0 100%);
}



#contact-components {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 100px;
  width: 600px;
}

#contact-components img:first-child {
  margin-top: 20px;
}

#contact-info-div {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 20px;
}

#contact-div h2 {
  margin: 50px 0 100px 100px;
}

.contact-info {
  font-size: 50px;
  height: 100px;
  margin-left: 10px;

}

.contact-info p {
  margin-top: 0px;
}

.contact-info img {
  height: 50px;
  width: 50px;
}

.contact-info:hover {
  cursor:pointer;
  /* transform: translate(25%) */
  

}

.contact-info img:hover {
  height: 75px;
  width: 75px;
}

.contact-info i:hover {
  font-size: 75px;
}

@media screen and (max-width: 1050px) {
  #project-div-container, #about {
    height: 900px;
  }

  #tech-wrap {
    max-height: 800px;
  }
  
  #about-content, #project-row {
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 900px;
  }
  
  #about-content {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
}

@media print {
  #resumeImage {
    width: 750px;
    height: 1050px;
    margin-left: 25px;
  }
}

@media screen and (max-width: 600px) {

  #landing-info {
    width: 85%;
    margin-left: 10%;
  }

  #title_name {
    margin-left: 5%;
  }
  
  #project-div-container, #project-div {
    width: 100%;
    height: 1500px;
  }

  #project-row{
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: row;
    margin-left: 15%;
  }

  #snag-style, #blue-style, #catwalk-style {
    width: 85%;
    height: 400px;

  }
  
  
  #about, #about-content {
    height: 1500px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  #about-paragraph, #tech-wrap {
    width: 85%;
    margin-bottom: 30px;
    height: 500px;
  }

  #personal-paragraph {
    width: 85%;
    margin-bottom: 30px;
    height: 200px;
  }

  #tech-wrap {
    max-height: 600px;
  }
}